body {
    background-color: #d9dcd6;
    margin: 0px;
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
     background-size: cover;  
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #318c95;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    font-style: normal;
}

header h1  {
    color: black;
}

h1:hover{
    color:#fff;
    
}

/*Added CSS for nav elememt */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a{
    color: black;
}

a:hover {
color:#fff;
}
#AboutMe
{
    display: flex;
    margin: 30px;
    flex-direction: row;
    
    
}
#AboutMe img {
    border-radius: 20px;
        width: 200px;
        height: 200px;
        margin-left: 50px;
    
}
 .Me {
margin-left: 100px;
flex-shrink: 1;

        }
div{
font-size: 20px;
margin-left: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    margin-left: 100px;
    color: #237179;
}

p
{

font-size: 20px;
text-align: center;
flex-wrap: wrap;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
}


img{
border-radius: 20px;
border: 2px solid black;
}

img:hover{
    color:#fff;
}

button:hover{
    background-color: #318c95;
}
/*class for weather img */

.weatherimg
{
    flex: 0 0 500px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}
#projects{
    display: flex;
    flex-wrap: wrap;
}
.project2img 
{
margin-left: 200px;
opacity: 0.8;
flex: 1;
text-align: center;
justify-content: center;
flex: 1 0 0;
    
}

.project3img {
    margin-left: 200px;
    opacity: 0.8;
    flex: 1 0 0;
    text-align: center;
    justify-content: center;
}

.project1img {
 
margin-left: 250px;
justify-content: center;
/* border: 1px solid #ccc; */
box-shadow: 2px 2px 6p;
margin-bottom: 25px;
opacity: 0.8;
text-align: center;
}


#projects:hover .project1img img {
    box-shadow: 10px 10px gray;
    
}
.project1img:hover{
opacity :1
}

.project2img:hover {
    opacity: 1
}

.project3img:hover {
    opacity: 1
}
footer ul li {
    float: right;
    margin-top: 0px;
    font-size: 1.5rem;
    list-style-type: none;
    }

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1253px){

    .project2img {
        margin-bottom: 20px;
    }
}
/*
.background-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background2.png");
    background-size: cover;
    background-position: center;
}*/