body {
    background-color: white;
    margin: 0px;
    
    height: 100%;
    width: 100%;
     background-size: cover;  
}

header {
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    color: #ffffff;
    display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/img2.jpg");
    width:auto;
    height: 674px;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    font-style: normal;
}
h4{
    margin-bottom: 5px;
}
header h1  {
    color: white;
}

h1:hover{
    color:#fff;
    
}
ol {
    list-style-type: circle;
    
    list-style-position: inside;
    padding-left: 0;
    
}
#list{
    display: flex;
        flex-wrap: wrap;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
    
}
#order1{
margin-right: 25px;
}
#order2{
margin-left: 25px;
}

li::before {
    content:none;
}
li::marker {
    margin: 0px;
}
/* 0x2022 is unicode for a bullet */
/* 0x2022 is unicode for a bullet */

/*Added CSS for nav elememt */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
     font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    margin-left: auto;
}

li{
    font-family: 'Abril Fatface', cursive;
}

.card{
    margin-left: 180px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: .5px;
    border-color: #7e9ab9;
    
}
header nav ul {
    list-style-type: none;
}

#programming-skills {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a{
    color: white;
}
#git{
    display: none;
}
 a#test:hover  {
    display: block;
}
h3{
    margin: 0px;
    text-align: center;
    background-color: #7e9ab9;
}
.card-body p{
    font-size: 15px;
}

a:hover {
color:#fff;
}
#AboutMe
{
    display: flex;
    margin-bottom:100px;
    flex-direction: row;
    color: white;
    
    
}
#AboutMe img {
    border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-left: 50px;
    
}
 .Me {
margin-left: 100px;
flex-shrink: 1;

        }
div{
font-size: 20px;
margin-left: 50px;
}
#link{
    color: #000000;
}
#headname {
    font-size: 35px;
    text-align: left; 
font-family: 'Abril Fatface', cursive;
     text-decoration: none; 
    margin-left: 0px; 
    color: white;
}
h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    text-decoration:underline;
    margin-left: 100px;
    color: black;
}
h3{
    font-family: 'Abril Fatface', cursive;
}
::marker{
    width: 0px;
}

p
{

font-size: 20px;
text-align: center;
flex-wrap: wrap;
 font-family: 'Abril Fatface', cursive;
font-size: 20px;
}


img{

border: 0px solid black;
}

img:hover{
    box-shadow: 1px 1px rgb(101, 115, 132);
}

button:hover{
    background-color: #318c95;
}
/*class for weather img */

.weatherimg
{
    flex: 0 0 500px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}
#projects{
    display: flex;
    flex-wrap: wrap;
}
.project2img 
{
margin-left: 200px;
opacity: 0.8;
flex: 1;
text-align: center;
justify-content: center;
flex: 1 0 0;
    
}

.project3img {
    margin-left: 200px;
    opacity: 0.8;
    flex: 1 0 0;
    text-align: center;
    justify-content: center;
}

.project1img {
 
margin-left: 250px;
justify-content: center;
/* border: 1px solid #ccc; */
box-shadow: 2px 2px 6p;
margin-bottom: 25px;
opacity: 0.8;
text-align: center;
}

.project4img {

    margin-left: 450px;
    justify-content: center;
    /* border: 1px solid #ccc; */
    box-shadow: 2px 2px 6p;
    margin-bottom: 25px;
    margin-top: 30px;
    opacity: 0.8;
    text-align: center;
}

#projects:hover .project1img img {
    box-shadow: 10px 10px gray;
    
}
.project1img:hover{
opacity :1
}

.project2img:hover {
    opacity: 1
}

.project3img:hover {
    opacity: 1
}
footer ul li {
    float: right;
    margin-top: 0px;
    font-size: 1.5rem;
    list-style-type: none;
    }

* {
    box-sizing: border-box;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 0%;
    background-color: #bcbfc3;
    font-weight: bold;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #526376;
    text-align: center;
}

@media screen and (max-width: 1253px){

    .project2img {
        margin-bottom: 20px;
    }
}
/*
.background-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background2.png");
    background-size: cover;
    background-position: center;
}*/

